# Data preprocessing: Numbeo Dataset

In [1]:
import pandas as pd
import requests
from tqdm import tqdm
from datetime import date

In [2]:
api_key = 'wl1rvko3ziykgx'

## Creating Tables

### 1. countries.csv

In [8]:
countries_eu = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
                'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania',
                'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia',
                'Spain', 'Sweden']

# Create a dataframe with column: country
df_countries = pd.DataFrame(countries_eu, columns=['country'])

# Create a column with corresponding flag image
# For each country, get the image from the folder 'img/flags'
df_countries['flag'] = df_countries['country'].apply(lambda x: f'./img/flags/{x}.png')

# Export df_countries to csv
df_countries.to_csv('./data/countries.csv', index=False)

### 2. country_prices.csv

In [5]:
dic_country_prices = []
desired_items = [1, 18, 26, 27, 30, 33, 105, 40, 34]

for country in tqdm(countries_eu, desc='countries'):
    country_prices = pd.DataFrame.from_dict(requests.get('https://www.numbeo.com/api/country_prices?api_key=' + api_key + '&country=' + country + '&currency=EUR').json())
    for row in country_prices.iterrows():
        if row[1]['prices']['item_id'] in desired_items:
            new_data = {}
            new_data['country'] = country
            new_data['currency'] = row[1]['currency']
            new_data['yearLastUpdate'] = row[1]['yearLastUpdate']
            new_data['monthLastUpdate'] = row[1]['monthLastUpdate']
            new_data['contributors'] = row[1]['contributors']
            new_data['item_id'] = row[1]['prices']['item_id']
            new_data['item_name'] = row[1]['prices']['item_name']
            new_data['average_price'] = row[1]['prices']['average_price']
            try:
                new_data['lowest_price'] = row[1]['prices']['lowest_price']
            except:
                new_data['lowest_price'] = None
            try: 
                new_data['highest_price'] = row[1]['prices']['highest_price']
            except:
                new_data['highest_price'] = None
            dic_country_prices.append(new_data)

df_country_prices = pd.DataFrame.from_dict(dic_country_prices)
df_country_prices['lowest_price'] = df_country_prices['lowest_price'].fillna(df_country_prices['average_price'])
df_country_prices['highest_price'] = df_country_prices['highest_price'].fillna(df_country_prices['average_price'])

df_country_prices.to_csv('./data/country_prices.csv', index=False)

countries:   0%|          | 0/27 [00:00<?, ?it/s]

countries: 100%|██████████| 27/27 [00:40<00:00,  1.51s/it]

### 3. country_indices.csv

In [14]:
dic_country_indices = []

for country in tqdm(countries_eu, desc='countries'):
    country_indices = requests.get('https://www.numbeo.com/api/country_indices?api_key=' + api_key + '&country=' + country).json()
    dic_country_indices.append(country_indices)

df_country_indices = pd.DataFrame.from_dict(dic_country_indices)
df_country_indices.rename(columns={'name': 'country'}, inplace=True)
df_country_indices = df_country_indices[['country', 'quality_of_life_index', 'purchasing_power_incl_rent_index', 'rent_index', 'health_care_index', 'safety_index']]

# Normalize column 'quality_of_life_index' to a scale from 50 to 100
min_value = df_country_indices['quality_of_life_index'].min()
max_value = df_country_indices['quality_of_life_index'].max()
df_country_indices ['quality_of_life_index'] = ((df_country_indices['quality_of_life_index'] - min_value) / (max_value - min_value)) * (100 - 50) + 50

# Normalize column 'purchasing_power_incl_rent_index' to a scale from 50 to 100, but inversing the values
min_value = df_country_indices['purchasing_power_incl_rent_index'].min()
max_value = df_country_indices['purchasing_power_incl_rent_index'].max()
df_country_indices['purchasing_power_incl_rent_index'] = 1 - ((df_country_indices['purchasing_power_incl_rent_index'] - min_value) / (max_value - min_value))
df_country_indices['purchasing_power_incl_rent_index'] = df_country_indices['purchasing_power_incl_rent_index'] * (100 - 50) + 50

# Normalize column 'rent_index' to a scale from 25 to 100, but inversing the values
min_value = df_country_indices['rent_index'].min()
max_value = df_country_indices['rent_index'].max()
df_country_indices['rent_index'] = 1 - ((df_country_indices['rent_index'] - min_value) / (max_value - min_value))
df_country_indices['rent_index'] = df_country_indices['rent_index'] * (100 - 25) + 25

# Normalize column 'health_care_index' to a scale from 60 to 100
min_value = df_country_indices['health_care_index'].min()
max_value = df_country_indices['health_care_index'].max()
df_country_indices ['health_care_index'] = ((df_country_indices['health_care_index'] - min_value) / (max_value - min_value)) * (100 - 60) + 60

# Normalize column 'safety_index' to a scale from 60 to 100
min_value = df_country_indices['safety_index'].min()
max_value = df_country_indices['safety_index'].max()
df_country_indices ['safety_index'] = ((df_country_indices['safety_index'] - min_value) / (max_value - min_value)) * (100 - 60) + 60

df_country_indices.to_csv('./data/country_indices.csv', index=False)

countries: 100%|██████████| 27/27 [00:39<00:00,  1.46s/it]

In [69]:
df_country_indices

,country,quality_of_life_index,purchasing_power_incl_rent_index,rent_index,health_care_index,safety_index
0,Austria,85.776242,79.706747,68.122284,95.414617,93.702116
1,Belgium,70.177919,75.696810,73.073267,93.439740,67.554721
2,Bulgaria,55.232567,96.525818,99.630490,68.269720,82.512021
3,Croatia,75.792953,92.729701,91.734062,79.276639,97.469151
4,Cyprus,64.745829,93.993355,58.891889,66.409524,88.463024
5,Czech Republic,75.735176,86.642293,81.417767,94.000674,96.472938
6,Denmark,93.647301,69.797785,57.672238,97.924146,97.072089
7,Estonia,85.309824,87.083233,88.869369,94.805981,100.000000
8,Finland,91.974373,72.084490,73.289706,96.826989,96.927151
9,France,68.805693,78.966181,72.834949,98.050226,60.000000
10,Germany,83.382746,69.591739,69.051036,88.615326,80.939569
11,Greece,53.401585,100.000000,93.484720,68.007957,70.766209
12,Hungary,55.374682,96.713285,94.674786,63.506555,87.603918
13,Ireland,69.674900,78.145282,31.203826,60.000000,71.325941
14,Italy,61.134019,88.623535,79.910998,80.168140,70.056904
15,Latvia,68.539948,95.803488,97.031596,76.201603,82.816899
16,Lithuania,74.281661,92.856476,84.815848,91.463437,88.524186
17,Luxembourg,99.772610,50.000000,25.000000,95.332189,85.598144
18,Malta,50.000000,93.034073,64.342623,60.950225,78.484598
19,Netherlands,100.000000,65.502009,51.939083,100.000000,97.565809
20,Poland,60.296423,89.437242,81.368982,68.994440,92.720213
21,Portugal,79.375706,95.776996,74.662892,91.323626,91.389319
22,Romania,54.051981,96.433048,100.000000,66.684429,86.633425
23,Slovakia,66.860062,93.905182,89.942118,70.866270,91.104291
24,Slovenia,79.889989,90.319718,82.438155,81.322779,99.606031
25,Spain,84.622807,79.277118,75.971845,96.960236,84.205878
26,Sweden,83.336119,71.731485,75.337752,84.236688,68.901969